readTemplate('$ORACLE_HOME/wlserver/common/templates/wls/wls.jar')
cd('Servers/AdminServer')
cmo.setListenAddress('<compute hostname FQDN>')
setOption('ServerStartMode','prod')
set('ListenPort', 7001)
create('AdminServer','SSL')
Proxy for AdminServer: Name=AdminServer, Type=SSL
cd('SSL/AdminServer')
set('Enabled', 'True')
set('ListenPort', 7002)
cd('/')
cd('Security/base_domain/User/<admin console user>')
cmo.setPassword('<admin console password>')
setOption('ServerStartMode','prod')
setOption('OverwriteDomain', 'true')
writeDomain('$ORACLE_HOME/wlserver/user_projects/domains/oraworld_domain')
closeTemplate()
exit()
